:root {
  --primary-fonts: "Modern Warfare", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #0e2954;
  --secondary-color: #1f6e8c;
  --support-color-1: #000;
  --support-color-2: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--primary-fonts);
}

.game-title {
  padding: 0px 150px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.game-title .operation-title,
.game-title .operation-title-text {
  color: var(--secondary-color);
}

.game-title .operation-title {
  font-family: var(--secondary-font);
  font-size: 60px;
}

.game-title .operation-title-text {
  font-size: 40px;
}

.timer-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-timer {
  font-family: var(--secondary-font);
  color: var(--support-color-1);
  font-weight: 700;
  font-size: 50px;
}

.timer-and-buttons .buttons {
  display: flex;
  gap: 15px;
}

.buttons .start-button {
  background: var(--secondary-color);
  color: var(--support-color-2);
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);

  cursor: pointer;
}

.start-button:hover {
  background: none;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.start-button.disabled {
  pointer-events: none;
}

.quit-button {
  background: red;
  color: var(--support-color-2);
  padding: 10px 20px;
  border: 1px solid red;

  pointer-events: none;
}

.quit-button:hover {
  background: none;
  color: red;
  border: 1px solid red;
}

.quit-button.abled {
  pointer-events: auto;
  cursor: pointer;
}

.quit-modal {
  display: none;
}

.quit-modal.visible {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  border: 1px solid black;
  background: var(--support-color-2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 100;
}

.quit-overlay {
  display: none;
}

.quit-overlay.visible {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.5);
  filter: blur(100px);

  z-index: 5;
}

.quit-modal .quit-buttons {
  display: flex;
  gap: 10px;
}

.quit-modal h2 {
  color: var(--primary-color);
}

.quit-buttons button {
  padding: 5px 10px;
  font-family: var(--secondary-font);

  cursor: pointer;
}

.arithmetic-solving-and-user-game-information {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;

  padding: 25px 0px;
}

.problem span {
  font-family: var(--secondary-font);
}

.problem .operation {
  font-size: 50px;
  font-weight: 700;
}

.equals-to {
  font-weight: 700;
}

.answer {
  font-family: var(--secondary-font);
  text-align: center;

  width: 320px;
  height: 50px;
  font-size: 24px;
}

.game-content {
  padding: 5px 150px;
}

.arithmetic-solving,
.reveal-answer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.arithmetic-solving .answer-question,
.arithmetic-solving .problem span,
.arithmetic-solving .reveal-answer {
  font-size: 30px;
}

.reveal-answer span,
.arithmetic-solving .question-mark {
  font-family: var(--secondary-font);
}

.arithmetic-solving .problem {
  display: flex;
  gap: 100px;
}

.arithmetic-solving .answerBtn {
  padding: 10px 20px;

  pointer-events: none;
}

.arithmetic-solving .answerBtn.abled {
  pointer-events: auto;
  cursor: pointer;
}

.user-game-information {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.profile-and-name {
  display: flex;
  gap: 15px;
  align-items: center;
}

.profile-and-name .user-profile,
.profile-and-name .user-profile img {
  width: 50px;
  height: 50px;
}

.profile-and-name .name {
  display: flex;
  flex-direction: column;
}

.profile-and-name .name span {
  font-family: var(--secondary-font);
}

.profile-and-name .name .fullname {
  font-size: 16px;
}

.profile-and-name .name .nickname {
  color: #7a7878;
  font-size: 14px;
}

.score-text,
.score-number,
.highscore-text,
.highscore-number {
  font-family: var(--secondary-font);
  font-size: 24px;
}

.score-text,
.highscore-text {
  font-weight: 700;
}

.score-number,
.highscore-number {
  font-weight: 500;
}

body.wrong {
  background: red;
}

body.correct {
  color: green;
}

@media screen and (max-width: 1039px) {
  .game-content {
    padding: 5px 50px;
  }
  .arithmetic-solving-and-user-game-information {
    gap: 50px;
  }

  .arithmetic-solving .answer-question {
    font-size: 24px;
  }

  .game-title {
    padding: 25px 25px;
  }
  .game-title .operation-title-text {
    font-size: 30px;
  }

  .game-title .operation-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {
}
