:root {
  --primary-fonts: "Modern Warfare", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #0e2954;
  --secondary-color: #1f6e8c;
  --support-color-1: #000;
  --support-color-2: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--primary-fonts);
}

.login-content {
  display: flex;
  width: 100%;
}

.login-content .logo-login{
  display: none;
}

.login-content .left-side {
  width: 30%;
  z-index: 100;
  width: 549px;
  height: 100vh;
  position: relative;
  background-image: url(/images/login-and-signup/LoginImage.png);
}

.login-content .left-side span {
  position: absolute;
  top: 5%;
  left: 12%;

  color: var(--support-color-2);
  font-size: 50px;
}

.right-side p,
.right-side a span,
.right-side .login-with span,
.right-side .login-form input,
.remember-me-and-forgot-password
  .remember-me
  label,
.remember-me-and-forgot-password
  .forgot-password
  a,
.right-side span,
.right-side span a {
  font-family: var(--secondary-font);
  font-size: 12px;
}

.login-content .right-side {
  /* width: 70%; */

  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 150px;
  padding-left: 20%;
  
}

.login-content .right-side .right-side-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login-content .right-side .social-media-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-content .right-side .social-media-login .socmed-login {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-content .right-side .social-media-login .google-login {
  background: var(--support-color-2);
  color: var(--support-color-1);
}

.login-content .right-side .social-media-login .facebook-login {
  background: #3b5998;
  color: var(--support-color-2);
}

.login-content .right-side .login-with {
  display: flex;
  justify-content: center;
}

.login-content .right-side .login-form #username {
  padding: 8px;
  outline: none;
  border: 1px solid #d9d9d9;
  color: var(--support-color-1);
}

/* .login-form .error {
  display: none;
} */

/* .error-username.wrong,
.error-password.wrong {
  display: flex;
  color: red;
} */

.login-form #username.correct,
.login-form #password.correct {
  border: 1px solid green;
}

.login-form #username.wrong,
.login-form #password.wrong {
  border: 1px solid red;
}

.login-content .right-side .login-form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 450px;
}

.login-content
  .right-side
  .login-form
  .remember-me-and-forgot-password
  .remember-me {
  display: flex;
  gap: 5px;
}

.password {
  display: flex;
  align-items: center;

  border: 1px solid #d9d9d9;
}

.login-form .password input {
  border: none;
  padding: 8px;
  outline: none;
  /* border: 1px solid #d9d9d9; */
  color: var(--support-color-1);
  width: 100%;
}

.password .passwordBtn {
  width: 16px;
  cursor: pointer; 
  margin-right: 8px;
}

.hide {
  display: none;
}

.hide.visible {
  display: flex;
}

.view.invisible {
  display: none;
}

.login-content .right-side .login-form .remember-me-and-forgot-password {
  display: flex;
  justify-content: space-between;
}

.login-content .right-side .login-form .button {
  display: flex;
  justify-content: center;
}

.login-content .right-side .login-form .form-loginBtn {
  background: var(--secondary-color);
  font-family: var(--primary-fonts);
  border: var(--secondary-color);
  color: #fff;
  padding: 12px 32px;

  cursor: pointer;
}

.login-content .right-side span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.login-content .right-side .dont-have-account {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .login-content {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .login-content .left-side {
    display: none;
    /* background-repeat: no-repeat; */
  }

  .login-content .right-side {
    display: flex;
    justify-content: center;
    /* height: 95vh; */

    padding-top: 50px;
  }

  .login-content .logo-login{
    display: flex;
    font-size: 60px;
    color: var(--secondary-color);

    width: 100%;
    padding: 25px;
  }
  
  .login-content {
    background-image: url(/images/login-and-signup/LoginImage.png);
    height: 100vh;
  }

  .login-content .right-side .social-media-login .google-login {
    color: var(--support-color-1);
  }
  .remember-me-and-forgot-password .remember-me label,
  .login-content .login-with span,
  .welcome h1,
  .welcome p,
  .dont-have-account span {
    color: var(--support-color-2);
  }

  .login-content .right-side {
    padding-left: 0%;
    justify-content: center;
  }

  
}

@media screen and (max-width: 500px) {
  .login-content .right-side .right-side-content {
    width: 380px;
  }

  .login-content .right-side .login-form {
    width: 380px;
  }
}